<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Perfil">
      <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
      <ion-label>Perfil</ion-label>
      
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="Atualizar">
      <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>